* {
   padding: 0;
   margin: 0;
}

body {
   background-color: rgb(66, 54, 70);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow: hidden;
}

#responseContainer {
   color: rgb(229, 224, 224);
   background-color: black;
   padding: 20px;
   border-radius: 20px;
   margin: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#urlText {
   color: rgb(16, 181, 181);
}

#responseText {
   color: rgb(215, 115, 79);
   margin-top: 15px;
}
